.menu-btn{
  display: none;
}
input, textarea{
  font-family: Quicksand, serif;
}
button{
  font-family: Quicksand,  serif;
  cursor: pointer;
  outline: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: Quicksand, Montserrat, Arial, Helvetica, sans-serif;
}
p{
  margin: 0;
}
.active:active{
  transform: scale(.99);
  opacity: .83;
}
*, ::before, ::after{
  /* outline: .5px solid green; */
  box-sizing: border-box;
}

.note-history{
  width: 23.5em;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 2px 0 20px 1px rgba(0, 0, 0, 0.185);
  border-radius: 0 10px 10px 0;
  background-color: white;
}
.controls{
  background-color: gray;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  padding: 0 13px;
  border-radius: 0 10px 0 0;
}
.controls button, .note-title button{
  color: ghostwhite;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  position: relative;
  font-size: 14.5px;
}
.add-note{
  flex: 1;
}
.add-note button,  .note-title button{
  background-color: rgb(23, 107, 79);
  padding-right: calc(12px + 8px);
  transition: opacity .2s ease-out;
}
.add-note button:hover{
  box-shadow: 0 3px 8px .3px rgba(68, 67, 67, 0.377);
  background-color: rgba(23, 107, 79, 0.733);
}
.add-note button > svg, .note-title button > svg{
  position: absolute;
}
.clear-history button{
  background-color: transparent; 
}
.contain-note-tags{
  height: calc(100% - 13%);
  overflow-y: scroll;
}
.contain-note-tags::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}
.contain-note-tags::-webkit-scrollbar-track{
  background-color: #f1f1f1;
  background-color: transparent;
}
.contain-note-tags::-webkit-scrollbar-thumb{
  /* background-color: #888; */
  /* background-color: rgb(128, 128, 128); */
  background-color: #4b41414f;
  border-radius: 200px;
  cursor: pointer;
}
.contain-note-tags::-webkit-scrollbar-thumb:hover{
  background-color: #8b8b8b71;
}
.info{
  margin: 20px;
  padding: 5px;
  position: relative;
  font-style: italic;
  color: lightgrey;
  text-align: center;
  pointer-events: none;
  display: none;
}
.premonition{
  padding: 35px;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  color: #55555531;
  pointer-events: none;
}
.note-tag{
  background-color: gainsboro;
  position: relative;
  margin: 20px;
  padding: 15px;
  padding-bottom: 22.5px;
  border-radius: 6px;
  cursor: pointer;
}
.title-div{
  display: flex;
}    
.note-tag-title{
  font-weight: bold;
  /* font-size: 17px; */
  flex: 1;
}
.icon{
  border-radius: 50px;
  display: flex;
  cursor: pointer;
  padding: 2px;
  margin: .5px  2.5px;
}
.icon:hover{
  background-color: rgba(128, 128, 128, 0.432);
}
.icon:active{
  background-color: rgba(128, 128, 128, 0.253);
}
.note-tag-body{
  font-size: 14.8px;
  font-weight: light;
  padding: 1.5px 1px;
}
.time-stamp{
  position: absolute;
  font-size: 11.89px;
  right: 0;
  bottom: 0;
  padding: 3.5px 12px;
  border-radius: 0 0 6px 0;
  color: gray;
}
.note-body{
  padding-left: 23em;
}
.note-title{
  display: flex;
  align-items: center;
  padding: 0 2.2em;
  height: 100px;
}
.note-title div:first-child{
  flex: 1;
}
.note-title div:has(input) input{
  border: none;
  outline: none;
  font-size: 50px;
  width: 96.5%;
  padding: .2em;
}
.note-title div:has(button){
  height: 83px;
}
.note-title div:has(button) button{
  position: relative;
  top: calc(50% / 1.59);
  padding-right: calc(12px + 10px);
}
.note-title div:has(input) input::placeholder, textarea::placeholder{
  opacity: .35;
}
.note-body-section{
  padding: 0 2.5em;
}
.note-body-section textarea{
  width: 910px;
  height: 523px;
  resize: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 11.5px;
  text-align: justify;
}

@media screen and (max-width: 900px){
  .menu-btn{
    display: inline-block;
  }
  .open-note{
    transform: translate(-100%);
  }
  .note-history{
    width: 100%;
    border-radius: 0;
    transition: transform .5s cubic-bezier(0.46, 0.47, 0, 0.83);
    z-index: 20;
  }
  .open-note{
    transform: translateX(-110%);
  }
  .controls{
    z-index: 25;
    border-radius: 0;
  }
  .contain-note-tags::-webkit-scrollbar-track{
    background-color: #f1f1f1;
  }
  .contain-note-tags::-webkit-scrollbar-thumb{
    /* background-color: #888; */
    background-color: rgb(128, 128, 128);
    cursor: pointer;
  }
  .contain-note-tags::-webkit-scrollbar-thumb:hover{
    background-color: #555;
  }
  .note-body-section{
    padding: 0;
  }
  .note-body{
  padding-left: 0;
  }
  .note-title{
    display: flex;
    align-items: center;
    padding: 0 1em;
    height: 100px;
  }
  .note-title div:nth-child(2){
    height: 56px;
  }
  .note-title div:has(button) button {
    position: relative;
    top: calc(50% / 3.59);
    padding-right: calc(12px + 10px);
}
  .note-title div:has(input) input{
  font-size: 2.1em;
  }
  .note-body-section textarea{
    width:  100%;
    height: 82vh;
    resize: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 11.5px 1.3em;
    text-align: justify;
  }
  .note-title div:has(input) input::placeholder, textarea::placeholder{
    opacity: 1;
  }
  .placeholder::placeholder{
    opacity: .35;
  }
}
